@(dynamicForm: play.data.Form[forms.Dynamic])

@import tags._

@main("Welcome to Play 2.0"){
	@if(dynamicForm.hasGlobalErrors){
		@alert(){
			@dynamicForm.globalError.message
		}
	}
	@if(fields!= null){
		@helper.form(action = routes.Application.index()){
			@Html(dynamicForm.toForm())
			<fieldset class="form-actions">
				<input type="submit" name="action" class="btn btn-primary" value="tallenna"/>
    		    <input type="submit" name="action" class="btn btn-warning" value="peruuta"/>
			</fieldset>
		}
	}
}
