@(batch: models.Batch, dynamicForm: play.data.Form[forms.dynamicforms.Dynamic], program: String, html: String)

@import tags._

@main(batch.product + " " + program + ", erä " + batch.id){
	@if(dynamicForm.hasGlobalErrors){
		@alert(){
			@dynamicForm.globalError.message
		}
	}

	@helper.form(action = routes.Application.index()){
		@Html(html)
		<fieldset class="form-actions">
			<input type="submit" name="action" class="btn btn-primary" value="tallenna"/>
   		    <input type="submit" name="action" class="btn btn-warning" value="peruuta"/>
		</fieldset>
	}
}
