@(manageForm: models.dynamicforms.Form, fields: List[models.dynamicforms.Field], fieldForm: play.data.Form[models.dynamicforms.Field], deleteForm: play.data.Form[forms.dynamicforms.Delete])

@import helper._
@import helper.twitterBootstrap._
@import tags._

@main(manageForm.name + " lomake"){
	@if(flash.get("status")){
		@info(){
			@flash.get("status")
		}
	}
	<ul>
		@if(manageForm.description != null){
			<li>@manageForm.description</li>
		}
		
		<li>Lomake 
		@if(manageForm.isActive){
			on aktiivinen.
		} else{
			ei ole aktiivinen
		}
		</li>
		
		@if(manageForm.basedOn != null){
			<li>Perustuu lomakkeeseen <a href="@controllers.dynamicforms.routes.Manage.createField(manageForm.basedOn.id)">@manageForm.basedOn</a></li>
		}
	</ul>
	<a class="btn btn-primary" href="#" title="Esikatsele">Esikatsele</a>
	<a class="btn" href="@controllers.dynamicforms.routes.Manage.editForm(manageForm.id)" title="Muokkaa">Muokkaa</a>

	@manageFields(fields)

	@if(!fieldForm("id").valueOr("").equals("")){
		<h2>Muokkaa kenttää</h2>
	} else{
		<h2>Uusi kenttä</h2>
	}
	@if(fieldForm.hasGlobalErrors){
		@alert(){
			@fieldForm.globalError.message
		}
	}
	@helper.form(action = controllers.dynamicforms.routes.Manage.saveField(manageForm.id)){
		<input type="hidden" name="id" value="@fieldForm("id").value"/>
		<input type="hidden" name="form.id" value="@manageForm.id"/>
		@helper.inputText(fieldForm("name"), '_label -> "nimi", '_class -> "control-group")
		@helper.textarea(fieldForm("help"), '_label -> "ohje")
		@helper.select(fieldForm("type"), options = options(models.dynamicforms.FieldType.map), '_default -> fieldForm("type").value, '_label -> "tietotyyppi")
		@helper.inputText(fieldForm("min"), '_label -> "minimiarvo", '_class -> "control-group")
		@helper.inputText(fieldForm("max"), '_label -> "maksimiarvo", '_class -> "control-group")
		@helper.checkbox(fieldForm("isRequired"), '_label -> None, '_text -> "vaadittu", '_showConstraints -> false)
		@helper.checkbox(fieldForm("isSigned"), '_label -> None, '_text -> "kuitattava", '_showConstraints -> false)
		<input type="submit" name="action" class="btn btn-primary" value="tallenna"/>
        <input type="submit" name="action" class="btn btn-warning" value="peruuta"/>
	}
	
	@if(!fieldForm("id").valueOr("").equals("")){
		<h3>Poista lomakkeen kenttä</h3>
		@if(deleteForm.hasGlobalErrors){
			@alert(){
				@deleteForm.globalError.message
			}
		}
		@helper.form(action = controllers.dynamicforms.routes.Manage.deleteField(manageForm.id, fieldForm("id").value)){
			@helper.checkbox(deleteForm("isConfirmed"), '_label -> None, '_text -> "Haluan varmasti poistaa kentän ja tallennetut tulokset.", '_showConstraints -> false)
	        <input type="submit" name="action" class="btn btn-danger" value="poista"/>
		}
	}
}
