@(manageForm: play.data.Form[models.dynamicforms.Form], deleteForm: play.data.Form[forms.dynamicforms.Delete])

@import helper._
@import helper.twitterBootstrap._
@import tags._

@main(
	if(!manageForm("id").valueOr("").equals("")){
		"Muokkaa lomaketta"
	}
	else{
		"Uusi lomake"
	}
){
	@if(flash.get("status")){
		@info(){
			@flash.get("status")
		}
	}
	@if(manageForm.hasGlobalErrors){
		@alert(){
			@manageForm.globalError.message
		}
	}

	@helper.form(action = controllers.dynamicforms.routes.Manage.saveForm()){
		<input type="hidden" name="id" value="@manageForm("id").value"/>
		@helper.inputText(manageForm("name"), '_label -> "nimi", '_class -> "control-group")
		@helper.textarea(manageForm("description"), '_label -> "kuvaus")
		@helper.checkbox(manageForm("isActive"), '_label -> None, '_text -> "lomake on aktiivinen", '_showConstraints -> false)
		@select(manageForm("basedOn.id"), options = options(models.dynamicforms.Form.options(manageForm("id").value)), '_default -> "", '_label -> "peruslomake", '_text -> "lomake, jonka kentät näytetään myös tässä lomakkeessa")
		<fieldset class="form-actions">
			<input type="submit" name="action" class="btn btn-primary" value="tallenna"/>
        	<input type="submit" name="action" class="btn btn-warning" value="peruuta"/>
        </fieldset>
	}

	@if(!manageForm("id").valueOr("").equals("")){
		<h2>Poista lomake</h2>
		@if(deleteForm.hasGlobalErrors){
			@alert(){
				@deleteForm.globalError.message
			}
		}
		@helper.form(action = controllers.dynamicforms.routes.Manage.deleteForm(manageForm("id").value)){
			@helper.checkbox(deleteForm("isConfirmed"), '_label -> None, '_text -> "Haluan varmasti poistaa lomakkeen, sen kentät ja tallennetut tulokset.", '_showConstraints -> false)
			<fieldset class="form-actions">
	        	<input type="submit" name="action" class="btn btn-danger" value="poista"/>
	        </fieldset>
		}
	}
}
