@(manageForm: play.data.Form[models.dynamicforms.Form])

@import helper._
@import helper.twitterBootstrap._
@import tags._

@main(
	if(manageForm("id").value != null){
			"Muokkaa lomaketta"
	}
	else{
		"Uusi lomake"
	}
){
	@if(flash.get("status")){
		@alert(){
			@flash.get("status")
		}
	}
	@if(manageForm.hasGlobalErrors){
		@alert(){
			@manageForm.globalError.message
		}
	}

	@helper.form(action = controllers.dynamicforms.routes.Manage.saveForm()){
		<input type="hidden" name="id" value="@manageForm("id").value"/>
		@helper.inputText(manageForm("name"), '_label -> "nimi", '_class -> "control-group")
		@helper.textarea(manageForm("description"), '_label -> "kuvaus")
		@helper.checkbox(manageForm("isActive"), '_label -> None, '_text -> "lomake on aktiivinen", '_showConstraints -> false)
		select(manageForm("basedOn"), options = options(models.dynamicforms.Form.map),  '_label -> "peruslomake", '_text -> "lomake, jonka kentät näytetään myös tässä lomakkeessa")
		<input type="submit" name="action" class="btn btn-primary" value="tallenna"/>
        <input type="submit" name="action" class="btn btn-warning" value="peruuta"/>
	}

	@if(!manageForm("id").valueOr("").equals("")){
		<h2>Poista lomake</h2>
		@helper.form(action = controllers.dynamicforms.routes.Manage.deleteForm(manageForm("id").value)){
			<div class="control-group">
				<div class="controls">
					<label class="checkbox"><input name="isConfirmed" type="checkbox">Haluan varmasti poistaa lomakkeen, sen kentät ja tallennetut tulokset.</label>
				</div>
			</div>
	        <input type="submit" name="action" class="btn btn-danger" value="poista"/>
		}
	}
}
