@(FORM: play.data.Form[models.dynamicforms.Form], action: play.api.mvc.Call)

@import helper._
@import helper.twitterBootstrap._
@import tags.forms._

@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.f)}

@tags.forms.form(FORM, action) {
	@helper.inputText(FORM("name"), '_label -> "nimi", '_class -> "control-group")
	@helper.select(FORM("categoryId"), options = options(models.Term.options(models.TermCategory.FORMTYPE)), '_default -> "", '_label -> "tyyppi")
	@helper.textarea(FORM("description"), '_label -> "kuvaus")
	@helper.checkbox(FORM("isActive"), '_label -> None, '_text -> "Aktiivinen", '_showConstraints -> false)
	
	<fieldset>
		<legend>Kenttäryhmät</legend>
		@helper.select(FORM("_fieldset"), options = options(models.dynamicforms.Fieldset.options), '_default -> "", '_label -> "Lisää kenttäryhmä")
		<br>
		<div id="sortable"></div>
	</fieldset>
}

<script src="@routes.Assets.at("javascripts/forms.js")"></script>