@(page: models.helpers.Page[models.dynamicforms.Form])

@import tags._
@import tags.alerts._
@import tags.tables._
@import tags.navs._

@main("Lomakkeet") {
	@tabs() {
		<li class="active"><a href="#">Lomakkeet</a></li>
		<li><a href="@controllers.dynamicforms.routes.Forms.create">Uusi</a></li>
	}
	@if(page != null){
		@table() {
			@thead() {
				Nimi
				Kuvaus
			}
			<tbody>
				@for(form <- page.getList) {
					tr() { <a href="@controllers.dynamicforms.routes.Forms.update(form.id)">@form</a>
						@form.description }
				}
			</tbody>
		}
		@pagination(page.hasPrevious, controllers.dynamicforms.routes.Forms.page(page.getIndex - 1), page.hasNext, controllers.dynamicforms.routes.Forms.page(page.getIndex + 1))
	} else {
		@warning() {
			Lomakkeita ei löytynyt, voit kuitenkin <a href="@controllers.dynamicforms.routes.Forms.create">lisätä</a> uusia.
		}
	}
}