@(page: models.helpers.Page[models.dynamicforms.Form])

@import tags._
@import tags.alerts._
@import tags.tables._
@import tags.navs._

@main("Lomakkeet") {
	@tabs() {
		<li><a href="@controllers.dynamicforms.routes.Forms.crud.page()">Lomakkeet</a></li>
		<li><a href="@controllers.dynamicforms.routes.Forms.crud.fresh">Uusi lomake</a></li>
		<li><a href="@controllers.dynamicforms.routes.Fieldsets.crud.page()">Kenttäryhmät</a></li>
		<li><a href="@controllers.dynamicforms.routes.Fieldsets.crud.fresh">Uusi kenttäryhmä</a></li>
	}
	@if(!page.isEmpty){
		@table() {
			@thead() {
				Nimi
				Kuvaus
				Aktiivinen
				Tyyppi
			}
			<tbody>
				@for(form <- page.getList) {
					@tr() { <a href="@controllers.dynamicforms.routes.Forms.crud.edit(form.id)">@form</a>
						@form.description
						@form.isActive
						@form.category }
				}
			</tbody>
		}
		@pagination(page, controllers.dynamicforms.routes.Forms.crud.page(page.getPrevious, page.getOrder, page.getBy), controllers.dynamicforms.routes.Forms.crud.page(page.getNext, page.getOrder, page.getBy))
	} else {
		@warning() {
			Lomakkeita ei löytynyt, voit kuitenkin <a href="@controllers.dynamicforms.routes.Forms.crud.fresh">lisätä</a> uusia.
		}
	}
}