@(FORM: play.data.Form[models.IngredientSupply], action: play.api.mvc.Call)

@import helper._
@import tags.forms._
@import play.i18n._

@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.f)}

@tags.forms.form(FORM, action) {
	@helper.select(
		FORM("ingredient.id"),
		options = options(models.Ingredient.dao.options),
		'_default -> "",
		'_label -> Messages.get("ingredientsupply.ingredient")
	)
	@helper.inputText(
		FORM("amount"),
		'_label -> Messages.get("ingredientsupply.amount"),
		'placeholder -> Messages.get("placeholder.double")
	)
	@helper.select(
		FORM("unit.id"),
		options = options(models.Term.options(models.TermCategory.UNIT)),
		'_default -> "",
		'_label -> Messages.get("term.unit")
	)
	@helper.inputText(
		FORM("received"),
		'_label -> Messages.get("ingredientsupply.received"),
		'class -> "datepicker",
		'placeholder -> Messages.get("placeholder.date")
	)
	@helper.select(
		FORM("producer.id"),
		options = options(models.Term.options(models.TermCategory.PRODUCER)),
		'_default -> "",
		'_label -> Messages.get("enum.PRODUCER")
	)
}