@(FORM: play.data.Form[models.IngredientSupply])

@import helper._
@import helper.twitterBootstrap._
@import tags._
@import tags.alerts._
@import tags.forms._

@main(Vastaanota raaka-aine){
	@tabs() {
		<li><a href=@routes.IngredientSupplies.index">Vastaanotetut raaka-aineet</a></li>
		<li class="active"><a href="#">Vastaanota</a></li>
	}
	@if(FORM.hasGlobalErrors) {
		@error() {
			@FORM.globalError.message
		}
	}
	
	@helper.form(action = routes.IngredientSupplies.save()){
		@helper.select(FORM("ingredient"), options = options(models.Ingredient.options), '_label -> "raaka-aine")
		@helper.inputText(FORM("amount"), '_label -> "määrä", '_class -> "control-group")
		@helper.inputText(FORM("produced"), '_label -> "valmistettu", '_class -> "control-group")
		@actions() {}
	}
}
