@(FORM: play.data.Form[models.IngredientSupply])

@import helper._
@import helper.twitterBootstrap._
@import tags.forms._
@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.f)}

@tags.forms.form(FORM, routes.IngredientSupplies.save()) {
	@helper.select(FORM("ingredient.id"), options = options(models.Ingredient.crud.options), '_default -> "", '_label -> "raaka-aine")
	@helper.inputText(FORM("amount"), '_label -> "määrä", '_class -> "control-group")
	@helper.select(FORM("unit.id"), options = options(models.Term.options(models.TermCategory.UNIT)), '_default -> "", '_label -> "mittayksikkö")
	@helper.inputText(FORM("received"), '_label -> "vastaanottopäivä", '_class -> "control-group")
	@helper.inputText(FORM("bestBefore"), '_label -> "parasta ennen", '_class -> "control-group")
}
