@(page: models.helpers.Page[models.IngredientSupply])

@import tags._
@import tags.alerts._
@import tags.tables._
@import play.i18n._

@main(Messages.get("ingredient.page")) {
	@if(!page.isEmpty){
		@table() {
			@thead() {
				@Messages.get("label.batch")
				@Messages.get("ingredientsupply.amount")
			}
			<tbody>
				@for(ingredientSupply <- page.getList) {
					@tr() { <a href="@routes.IngredientSupplies.show(ingredientSupply.id)">@ingredientSupply</a>
	        			@ingredientSupply.amount @ingredientSupply.unit }
				}
			</tbody>
		}
		@pagination(page, routes.IngredientSupplies.page(page.getPrevious), routes.IngredientSupplies.page(page.getNext))
	} else {
		@warning() {
			@Messages.get("ingredientsupply.page.empty")
		}
	}
}