@(page: models.helpers.Page[IngredientSupply])

@import tags._
@import tags.alerts._
@import tags.navs._
@import tags.tables._

@main("Vastaanotetut raaka-aineet") {
	@tabs() {
		<li class="active"><a href="#">Vastaanotetut raaka-aineet</a></li>
		<li><a href="@routes.IngredientSupplies.create">Vastaanota</a></li>
	}
	@if(page != null) {
		@table() {
			@thead() {
				Raaka-aine
				Valmistuspäivä
				Vastaanottopäivä
				Määrä
				Jäljellä
			}
			<tbody>
				@for(ingredient <- page.getList) {
					@tr() { <a href="@routes.IngredientSupplies.read(ingredient.id)">@ingredient.ingredient.name</a>
						@ingredient.produced
						@ingredient.received
						@ingredient.amount @ingredient.unit
						@if(ingredient.amountAvailable > 0) { @labels.success() { @ingredient.amountAvailable } } else { @ingredient.amountAvailable } @ingredient.unit }
				}
			</tbody>
		}
		@pagination(page.hasPrevious, routes.IngredientSupplies.page(page.getIndex - 1), page.hasNext, routes.IngredientSupplies.page(page.getIndex + 1))
	} else {
		@warning() {
			Vastaanotettuja raaka-aineita ei löytynyt, voit kuitenkin <a href="@routes.IngredientSupplies.create">lisätä</a> uusia.
		}
	}
}