@(ingredient: IngredientSupply, batches: List[Batch])

@import tags._
@import tags.navs._
@import tags.tables._

@main("Vastaanotettu raaka-aine") {
	@tabs() {
		<li><a href="@routes.IngredientSupplies.index">Vastaanotetut raaka-aineet</a></li>
		<li><a href="@routes.IngredientSupplies.create">Vastaanota</a></li>
	}
	@table() {
		@thead() {
			Raaka-aine
			Valmistuspäivä
			Vastaanottopäivä
			Parasta ennen
			Määrä
			Jäljellä
		}
		<tbody>
			@tr() { @ingredient.ingredient.name
						@ingredient.produced.format("dd.MM.yyyy")
						@ingredient.received.format("dd.MM.yyyy")
						@ingredient.bestBefore.format("dd.MM.yyyy")
						@ingredient.amount @ingredient.unit
						@if(ingredient.amountAvailable > 0) { <span class="label label-success">@ingredient.amountAvailable</span> } else { @ingredient.amountAvailable } @ingredient.unit }
		</tbody>
	}
	@if(batches != null) {
		<h2>Vastaanotettua raaka-ainetta käyttävät erät</h2>
		@table() {
			@thead() {
				Tuote
				Valmistuspäivä
			}
			<tbody>
				@for(batch <- batches) {
					@tr() { @batch.product
							@batch.created.format("dd.MM.yyyy") }
				}
			</tbody>
		}
	} else {
		@alerts.info() {
			Vastaanotettua raaka-aine-erää ei käytä yksikään tuote-erä.
		}
	}
}