@(ingredientSupply: IngredientSupply)

@import tags._
@import tags.tables._
@import utils.Converter
@import play.i18n._
@import controllers.shib.Session

@main(Messages.get("ingredientsupply.show", ingredientSupply)) {
	@table() {
		@thead() {
			@Messages.get("ingredientsupply.ingredient")
			@Messages.get("enum.PRODUCER")
			@Messages.get("ingredientsupply.received")
			@Messages.get("ingredientsupply.bestBefore")
			@Messages.get("ingredientsupply.amount")
			@Messages.get("ingredientsupply.amountUsed")
			@Messages.get("label.user")
		}
		<tbody>
			<tr>
				<td>@ingredientSupply.ingredient.name</td>
				<td>@ingredientSupply.producer</td>
	        	<td>@Converter.dateToString(ingredientSupply.received)</td>
	        	<td>@Converter.dateToString(ingredientSupply.getBestBefore)</td>
	        	<td>@Converter.doubleToString(ingredientSupply.amount) @ingredientSupply.unit</td>
	        	<td>@Converter.doubleToString(ingredientSupply.used) @ingredientSupply.unit</td>
	        	@defining(Session.username != null) { isLogged =>
		        	<td>@ack(ingredientSupply, routes.IngredientSupplies.ack(ingredientSupply.id), isLogged)</td>
		        }
	        <tr>
		</tbody>
	}
	<h3>@Messages.get("batch.page")</h3>
		@if(ingredientSupply.batches != null || !ingredientSupply.batches.isEmpty){
			@table() {
				@thead() {
					@Messages.get("label.batch")
					@Messages.get("ingredientsupply.amount")
				}
			<tbody>
				@for(batch <- ingredientSupply.batches) {
					@tr() { <a href="@routes.Batchs.show(batch.batch.id)">@batch.batch</a>
						@Converter.doubleToString(batch.amount) @ingredientSupply.unit }
					}
			</tbody>
		}
	}
}