@(ingredientSupply: IngredientSupply)

@import tags._
@import tags.tables._
@import utils.Converter
@import play.i18n._

@main(Messages.get("ingredientsupply.show", ingredientSupply)) {
	@table() {
		@thead() {
			@Messages.get("ingredientsupply.ingredient")
			@Messages.get("enum.PRODUCER")
			@Messages.get("ingredientsupply.received")
			@Messages.get("ingredientsupply.bestBefore")
			@Messages.get("ingredientsupply.amount")
			@Messages.get("ingredientsupply.amountUsed")
			@Messages.get("label.user")
		}
		<tbody>
			<tr>
				<td>@ingredientSupply.ingredient.name</td>
				<td>@ingredientSupply.producer</td>
	        	<td>@Converter.dateToString(ingredientSupply.received)</td>
	        	<td>@Converter.dateToString(ingredientSupply.getBestBefore)</td>
	        	<td>@Converter.doubleToString(ingredientSupply.amount) @ingredientSupply.unit</td>
	        	<td>@Converter.doubleToString(ingredientSupply.used) @ingredientSupply.unit</td>
	        	<td>@ack(ingredientSupply, routes.IngredientSupplies.ack(ingredientSupply.id))</td>
	        <tr>
		</tbody>
	}
}