@(FORM: play.data.Form[models.Term])

@import helper._
@import helper.twitterBootstrap._
@import tags._
@import tags.alerts._
@import tags.forms._
@import tags.navs._

@main(
	if(!FORM("id").valueOr("").equals("")) {
		"Muokkaa"
	} else{
		"Uusi"
	}
){
	@tabs() {
		<li><a href="@routes.Terms.index">Termit</a></li>
		@if(!FORM("id").valueOr("").equals("")) {
			<li><a href="@routes.Terms.create">Uusi</a></li>
		} else {
			<li class="active"><a href="#">Uusi</a></li>
		}
	}
	@if(FORM.hasGlobalErrors) {
		@error() {
			@FORM.globalError.message
		}
	}
	
	@if(!FORM("id").valueOr("").equals("")) {
		helper.form(action = routes.Terms.update(FORM("id").value.toLong), 'class -> "form-horizontal"){
			helper.inputText(FORM("name"), '_label -> "nimi", '_class -> "control-group")
			actions()
		}
	} else{
		@helper.form(action = routes.Terms.save(), 'class -> "form-horizontal"){
			@helper.inputText(FORM("name"), '_label -> "nimi", '_class -> "control-group")
			@select(FORM("category"), options = options(models.TermCategory.options), '_default -> "", '_label -> "kategoria")
			@actions()
		}
	}
}
