@(page: models.helpers.Page[models.Term])

@import play.i18n._
@import tags._
@import tags.alerts._
@import tags.tables._
@import tags.navs._

@views.html.management(Messages.get("term.page")) {
	@if(!page.isEmpty){
		@table() {
			@thead() {
				@Messages.get("label.term")
				@Messages.get("label.category")
			}
			<tbody>
				@for(term <- page.getList) {
					@tr() { <a href="@routes.Terms.edit(term.id)">@term</a>
						@term.categoryEnum }
				}
			</tbody>
		}
		@pagination(page, routes.Terms.page(page.getPrevious), routes.Terms.page(page.getNext))
	} else {
		@warning() {
			@Messages.get("term.page.empty")
		}
	}
}