body {
	padding-top: 60px;
}

fieldset {
	padding-top: 18px;
}

#sortable fieldset {
	padding-top: 0;
}

fieldset:nth-child(odd), .zebra:nth-of-type(odd) {
	background-color: #f9f9f9;
}

.form-horizontal .control-label {
	font-weight: bold;
}

h2 {
	border-bottom: 1px solid #ddd;
}

table a {
	display: block;
}

.nav-header a {
	color: #999999;
}

@media (min-width: 1200px) {
	.container-fluid {
		margin-right: auto;
		margin-left: auto;
		max-width: 1170px;
	}
}