@(page: models.helpers.Page[models.User])

@import tags._
@import tags.alerts._
@import tags.tables._
@import play.i18n._

@main(Messages.get("user.page")) {
	@if(!page.isEmpty){
		@table() {
			@thead() {
				@Messages.get("users.show")
			}
			<tbody>
				@for(user <- page.getList) {
					@tr() { <a href="@routes.Users.show(user.id)">@user</a> }
				}
			</tbody>
		}
		@pagination(page, routes.Users.page(page.getPrevious), routes.Users.page(page.getNext))
	} else {
		@warning() {
			@Messages.get("user.page.empty")
		}
	}
}