@(page: models.helpers.Page[models.dynamicforms.Fieldset])

@import tags._
@import tags.alerts._
@import tags.tables._
@import tags.navs._

@main("Kenttäryhmät") {
	@tabs() {
		<li><a href="controllers.dynamicforms.routes.Forms.index">Lomakkeet</a></li>
		<li><a href="controllers.dynamicforms.routes.Forms.create">Uusi lomake</a></li>
		<li class="active"><a href="#">Kenttäryhmät</a></li>
		<li><a href="@controllers.dynamicforms.routes.Fieldsets.crud.create">Uusi kenttäryhmä</a></li>
	}
	@if(page != null){
		@table() {
			@thead() {
				Nimi
				Kuvaus
				Aktiivinen
			}
			<tbody>
				@for(fieldset <- page.getList) {
					@tr() { <a href="controllers.dynamicforms.routes.Fieldsets.edit(fieldset.id)">@fieldset</a>
						@fieldset.description
						@fieldset.isActive }
				}
			</tbody>
		}
		@pagination(page.hasPrevious, controllers.dynamicforms.routes.Fieldsets.crud.page(page.getIndex - 1), page.hasNext, controllers.dynamicforms.routes.Fieldsets.crud.page(page.getIndex + 1))
	} else {
		@warning() {
			Kenttäryhmiä ei löytynyt!
		}
	}
}