@(page: models.helpers.Page[models.dynamicforms.Fieldset])

@import play.i18n._
@import tags._
@import tags.alerts._
@import tags.tables._
@import tags.navs._

@main(Messages.get("fieldset.page")) {
	@tabs() {
		<li><a href="@controllers.dynamicforms.routes.Forms.crud.page()">Lomakkeet</a></li>
		<li><a href="@controllers.dynamicforms.routes.Forms.crud.fresh">Uusi lomake</a></li>
		<li><a href="@controllers.dynamicforms.routes.Fieldsets.crud.page()">Kenttäryhmät</a></li>
		<li><a href="@controllers.dynamicforms.routes.Fieldsets.crud.fresh">Uusi kenttäryhmä</a></li>
	}
	@if(!page.isEmpty){
		@table() {
			@thead() {
				@Messages.get("label.name")
				@Messages.get("label.description")
				@Messages.get("label.isActive")
			}
			<tbody>
				@for(fieldset <- page.getList) {
					@tr() { <a href="@controllers.dynamicforms.routes.Fieldsets.crud.edit(fieldset.id)">@fieldset</a>
						@fieldset.description
						@fieldset.isActive }
				}
			</tbody>
		}
		@pagination(page.hasPrevious, controllers.dynamicforms.routes.Fieldsets.crud.page(page.getIndex - 1), page.hasNext, controllers.dynamicforms.routes.Fieldsets.crud.page(page.getIndex + 1))
	} else {
		@warning() {
			@Messages.get("fieldset.page.empty")
		}
	}
}