@(page: models.helpers.Page[models.dynamicforms.Fieldset])

@import play.i18n._
@import tags._
@import tags.alerts._
@import tags.tables._
@import tags.navs._

@main(Messages.get("fieldset.page")) {
	@views.html.dynamicforms.forms.navigation()

	@if(!page.isEmpty){
		@table() {
			@thead() {
				@Messages.get("label.name")
				@Messages.get("label.description")
				@Messages.get("label.isActive")
			}
			<tbody>
				@for(fieldset <- page.getList) {
					@tr() { <a href="@controllers.dynamicforms.routes.Fieldsets.crud.edit(fieldset.id)">@fieldset</a>
						@fieldset.description
						@fieldset.isActive }
				}
			</tbody>
		}
		@pagination(page, controllers.dynamicforms.routes.Fieldsets.crud.page(page.getPrevious, page.getOrder, page.getBy), controllers.dynamicforms.routes.Fieldsets.crud.page(page.getNext, page.getOrder, page.getBy))
	} else {
		@warning() {
			@Messages.get("fieldset.page.empty")
		}
	}
}