@(FORM: play.data.Form[models.Ingredient], action: play.api.mvc.Call)

@import play.i18n._
@import helper._
@import tags.forms._

@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.f)}

@tags.forms.form(FORM, action) {
	@helper.inputText(FORM("name"), '_label -> Messages.get("label.name"), '_class -> "control-group")
	@helper.textarea(FORM("description"), '_label -> Messages.get("label.description"))
	@helper.inputText(FORM("bestBefore"), '_label -> Messages.get("label.bestBefore"), '_class -> "control-group")
	
	@** TODO
	* select(FORM("form.id"), options = options(models.dynamicforms.FormType.INGREDIENT), '_default -> "", '_label -> Messages.get("ingredient.form"))
	*@
}