@(FORM: play.data.Form[models.Ingredient])

@import helper._
@import helper.twitterBootstrap._
@import tags._
@import tags.alerts._
@import tags.forms._
@import tags.navs._

@main(
	if(!FORM("id").valueOr("").equals("")) {
		"Muokkaa raaka-ainetta"
	} else{
		"Uusi raaka-aine"
	}
){
	@tabs() {
		<li><a href="@routes.Ingredients.index">Raaka-aineet</a></li>
		@if(!FORM("id").valueOr("").equals("")) {
			<li><a href="@routes.Ingredients.create">Uusi</a></li>
		} else {
			<li class="active"><a href="#">Uusi</a></li>
		}
	}
	@if(FORM.hasGlobalErrors) {
		@error() {
			@FORM.globalError.message
		}
	}
	
	@helper.form(action = routes.Ingredients.save(), 'class -> "form-horizontal"){
		@hidden() {
			@FORM("id").value
		}
		<input type="hidden" name="bestBefore" value="0"/>
		@helper.inputText(FORM("name"), '_label -> "nimi", '_class -> "control-group")
		@helper.textarea(FORM("description"), '_label -> "kuvaus")
		@actions()
	}
}
