@(page: models.helpers.Page[Ingredient])

@import tags._
@import tags.tables._
@import tags.alerts._

@main("Raaka-aineet") {
	@tabs() {
		<li class="active"><a href="#">Raaka-aineet</a></li>
		<li><a href="@routes.Ingredients.create">Uusi</a></li>
	}
	@if(page != null){
		@table() {
			@thead() {
				Nimi
				Kuvaus
				Säilyvyys (päivää)
			}
			<tbody>
				@for(ingredient <- page.getList) {
					tr() { <a href="@routes.Ingredients.update(ingredient.id)">@ingredient</a>
						@ingredient.description
						@ingredient.bestBefore }
				}
			</tbody>
		}
		@pagination(page.hasPrevious, routes.Ingredients.page(page.getIndex - 1), page.hasNext, routes.Ingredients.page(page.getIndex + 1)) {}
	} else {
		@warning() {
			Raaka-aineita ei löytynyt, voit kuitenkin <a href="@routes.Ingredients.create">lisätä</a> uusia.
		}
	}
}