@(page: models.helpers.Page[models.Ingredient])

@import play.i18n._
@import tags._
@import tags.alerts._
@import tags.tables._
@import tags.navs._

@main(Messages.get("ingredient.page")) {
	@navigation()

	@if(!page.isEmpty){
		@table() {
			@thead() {
				@Messages.get("label.name")
				@Messages.get("label.description")
				@Messages.get("label.bestBefore")
			}
			<tbody>
				@for(ingredient <- page.getList) {
					@tr() { <a href="@routes.Ingredients.crud.edit(ingredient.id)">@ingredient</a>
						@ingredient.description
						@ingredient.bestBefore }
				}
			</tbody>
		}
		@pagination(page, routes.Ingredients.crud.page(page.getPrevious), routes.Ingredients.crud.page(page.getNext))
	} else {
		@warning() {
			@Messages.get("ingredient.page.empty")
		}
	}
}