@(FORM: play.data.Form[models.dynamicforms.Field], f: models.dynamicforms.Form, fields: List[models.dynamicforms.Field])

@import helper._
@import helper.twitterBootstrap._
@import tags._
@import tags.alerts._
@import tags.forms._
@import tags.navs._

@main(f.toString + " lomake"){
	@tabs() {
		<li><a href="@controllers.dynamicforms.routes.Forms.index">Lomakkeet</a></li>
		@if(!FORM("id").valueOr("").equals("")) {
			<li><a href="@controllers.dynamicforms.routes.Forms.create">Uusi</a></li>
		} else {
			<li class="active"><a href="#">Uusi</a></li>
		}
	}
	<ul>
		@if(f.description != ""){
			<li>@f.description</li>
		}
		@if(f.basedOn != null){
			<li>Perustuu lomakkeeseen <a href="@controllers.dynamicforms.routes.Forms.update(f.basedOn.id)">@f.basedOn</a></li>
		}
	</ul>
	@if(f.html != null){
		<a class="btn btn-primary" href="@controllers.dynamicforms.routes.Forms.preview(f.id)" title="Esikatsele">Esikatsele</a>
	}
	<a class="btn" href="@controllers.dynamicforms.routes.Forms.update(f.id)" title="Muokkaa">Muokkaa</a>

	@manageFields(fields)
	@if(!FORM("id").valueOr("").equals("")){
		<h2>Muokkaa kenttää</h2>
	} else{
		<h2>Uusi kenttä</h2>
	}
	@if(FORM.hasGlobalErrors) {
		@error() {
			@FORM.globalError.message
		}
	}
	
	@helper.form(action = controllers.dynamicforms.routes.Fields.save(f.id), 'class -> "form-horizontal"){
		@hidden() {
			@FORM("id").value
		}
		<input type="hidden" name="form.id" value="@f.id"/>
		@helper.inputText(FORM("name"), '_label -> "määritys", '_class -> "control-group")
		@helper.select(FORM("when"), options = options(models.dynamicforms.When.map), '_default -> FORM("when").value, '_label -> "määritystiheys")
		@helper.textarea(FORM("help"), '_label -> "vaatimus")
		@helper.select(FORM("fieldType"), options = options(models.dynamicforms.FieldType.map), '_default -> FORM("type").value, '_label -> "tietotyyppi")
		@helper.inputText(FORM("min"), '_label -> "minimiarvo", '_class -> "control-group")
		@helper.inputText(FORM("max"), '_label -> "maksimiarvo", '_class -> "control-group")
		@helper.inputText(FORM("target"), '_label -> "tavoitearvo", '_class -> "control-group")
		@helper.checkbox(FORM("targetBool"), '_label -> None, '_text -> "kyllä/ei kentän tavoite tulos on ok", '_showConstraints -> false)
		@helper.checkbox(FORM("isRequired"), '_label -> None, '_text -> "vaadittu", '_showConstraints -> false)
		@actions()
	}
}
