@(page: models.helpers.Page[models.News])

@import play.i18n._
@import tags._
@import tags.alerts._
@import tags.tables._
@import tags.navs._
@import utils.Converter

@views.html.management(Messages.get("news.page")) {
	@if(!page.isEmpty){
		@table() {
			@thead() {
				@Messages.get("label.date")
				@Messages.get("label.name")
				@Messages.get("label.user")
			}
			<tbody>
				@for(news <- page.getList) {
					@tr() { <a href="@routes.News.edit(news.id)">@Converter.dateToString(news.lastModified)</a>
						@news
						@news.user }
				}
			</tbody>
		}
		@pagination(page, routes.News.page(page.getPrevious), routes.News.page(page.getNext))
	} else {
		@warning() {
			@Messages.get("news.page.empty")
		}
	}
}