@(t: models.helpers.UserModel, action: play.api.mvc.Call, isLogged: Boolean, condition: Boolean = true)

@import play.i18n._
@import helper._

@if(t.user == null) {
	@if(condition) {
		@if(isLogged) {
			@form(helper.CSRF(action)) {
				<input type="submit" name="action" class="btn btn-success" value="@Messages.get("crud.action.ack")"/>
			}	
		} else {
			<a class="btn btn-success" href="@controllers.shib.routes.Shibboleth.login(request.uri.toString)">@Messages.get("crud.action.ack")</a>
		}
	}
} else {
	@t.user
}