@(field: models.dynamicforms.Field)
@if(field != null){
	<fieldset>
		<input type="hidden" value="@field.id" name="values[].fieldId"/>
		<div class="control-group">
			<label class="control-label"><strong>@field.name</strong></label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="values[].value"/>
				@if(field.help != ""){
					<span class="help-inline">@field.help</span>
				}
			</div>
		</div>
		@if(field.isSigned){
			<div class="control-group">
	            <div class="controls">
	              <label class="checkbox">
	                <input type="checkbox" name="values[].ack"/>
	                Kuittaa
	              </label>
	            </div>
			</div>
		}
		<div class="control-group">
			<div class="controls">
				<textarea class="input-xlarge" name="values[].comment" rows="3"></textarea>
				<label class="help-inline">Huomautuksia</label>
			</div>
		</div>
	</fieldset>
}