@(batchForm: play.data.Form[models.Batch])

@import helper._
@import helper.twitterBootstrap._
@import tags._

@main("Uusi erä"){

	<ul class="nav nav-tabs">
		<li><a href="@routes.Batches.index">Erät</a></li>
		<li class="active"><a href="#">Uusi erä</a></li>
	</ul>

	@if(flash.get("status")){
		@info(){
			@flash.get("status")
		}
	}
	@if(batchForm.hasGlobalErrors){
		@alert(){
			@batchForm.globalError.message
		}
	}

	@helper.form(action = routes.Batches.save()){
		@select(batchForm("product.id"), options = options(models.Product.options), '_default -> "", '_label -> "tuote")
		<fieldset class="form-actions">
			<input type="submit" name="action" class="btn btn-primary" value="tallenna"/>
        	<input type="submit" name="action" class="btn btn-warning" value="peruuta"/>
        </fieldset>
	}
}
