@(unready: List[models.Batch], ready: List[models.Batch])

@import tags._

@main("Erät") {

	<ul class="nav nav-tabs">
		<li class="active"><a href="#">Erät</a></li>
		<li><a href="@routes.Batches.add">Uusi erä</a></li>
	</ul>

	@if(flash.get("status")){
		@info(){
			@flash.get("status")
		}
	}

	@if(unready != null){
		<h2>Keskeneräiset erät</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Erä</th>
					<th>Ajankohta</th>
					<th>Tuote</th>
				</tr>
			</thead>
			<tbody>
				@for(batch <- unready){
					<tr>
						<td>@batch.id</td>
						<td><a href="@routes.Batches.show(batch.id)">@batch.createdToString</a></td>
						<td>@batch.product</td>
					</tr>
				}
			</tbody>
		</table>
	} 

	@if(ready != null){
		<h2>Valmiit erät</h2>
		<ul class="nav nav-list">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Erä</th>
					<th>Ajankohta</th>
					<th>Tuote</th>
				</tr>
			</thead>
			<tbody>
				@for(batch <- ready){
					<tr>
						<td>@batch.id</td>
						<td><a href="@routes.Batches.show(batch.id)">@batch</a></td>
						<td>@batch.product</td>
					</tr>
				}
			</tbody>
		</table>
	} 

	
	@if(unready == null && ready == null){
		@alert(){
			Eriä ei löytynyt, voit kuitenkin <a href="@routes.Batches.add">lisätä</a> uusia eriä.
		}
	}
}