@(FORM: play.data.Form[models.Batch])

@import helper._
@import helper.twitterBootstrap._
@import tags._
@import tags.alerts._
@import tags.forms._
@import tags.navs._

@main("Uusi erä") {
	@tabs() {
		<li><a href="@routes.Batches.index">Erät</a></li>
		<li class="active"><a href="#">Uusi</a></li>
	}
	@if(FORM.hasGlobalErrors) {
		@error() {
			@FORM.globalError.message
		}
	}
	
	@helper.form(action = routes.Batches.save(), 'class -> "form-horizontal"){
		@select(FORM("product.id"), options = options(models.Product.options), '_default -> "", '_label -> "tuote")
		@actions()
	}
}
