@(batch: Batch)

@import tags._
@import tags.alerts._
@import tags.tables._
@import tags.navs._

@main(batch.toString) {
	@tabs() {
		<li><a href="@routes.Batches.index">Erät</a></li>
		<li><a href="@routes.Batches.create">Uusi</a></li>
	}
	@table() {
		@thead() {
			Lomake
			Tila
		}
		<tbody>
			@for(form <- batch.product.forms) {
				tr() { <a href="@controllers.dynamicforms.Results.read(batch.id, form.id)">@form</a>
					@if(models.dynamicforms.Results.getIsDone(batch.id, form.id)) { @labels.success() { Valmis } } else {  @labels.important() { Kesken } } }
			}
		</tbody>
	}
}