@(batch: Batch, results: List[models.dynamicforms.Results], finalProduct: FinalProduct)

@import tags._
@import tags.alerts._
@import tags.tables._
@import tags.navs._

@main("Erä " + batch.toString) {
	@tabs() {
		<li><a href="@routes.Batches.index">Erät</a></li>
		<li><a href="@routes.Batches.create">Uusi</a></li>
	}
	<ul>
		<li>Tuote: @batch.product</li>
	</ul>
	@if(finalProduct != null) {
		<a class="btn btn-large btn-success" href="@routes.FinalProducts.read(batch.id)">Myyntihyväksyntä</a>
	} else {
		<a class="btn btn-large btn-warning" href="@routes.FinalProducts.edit(batch.id)">Myyntihyväksyntään</a>
	}
	@if(results != null) {
		@table() {
			@thead() {
				Lomake
				Tila
			}
			<tbody>
				@for(result <- results) {
					@tr() { <a href="@controllers.dynamicforms.routes.Results.read(batch.product.id, result.id)">@result.form</a>
						@if(result.isDone) { <span class="label label-success">Valmis</span> } @if(!result.isDone) { <span class="label label-important">Kesken</span> } }
				}
			</tbody>
		}
	} else {
		@warning() {
			Erällä ei ole tuloksia!
		}
	}
	@if(batch.ingredientAmounts != null) {
		<h2>Erässä käytetyt raaka-aineet</h2>
		@table() {
			@thead() {
				Raaka-aine
				Vastaanottopäivämäärä
				Määrä
			}
			<tbody>
				@for(i <- batch.ingredientAmounts) {
					@tr() { @i.ingredientSupply.ingredient
							<a href="@routes.IngredientSupplies.read(i.ingredientSupply.id)">@i.ingredientSupply.received.format("dd.MM.yyyy")</a>
							@i.amount @i.ingredientSupply.unit}
				}
			</tbody>
		}
	}
}