@(batch: models.Batch, washprogram: Boolean, puritymonitoring: Boolean, productcard: Boolean)

@import tags._

@main(batch.toString) {

	<ul class="nav nav-tabs">
		<li><a href="@routes.Batches.index">Erät</a></li>
		<li><a href="@routes.Batches.add">Uusi erä</a></li>
	</ul>

	@if(flash.get("status")){
		@info(){
			@flash.get("status")
		}
	}

	<p>@batch.product.description</p>

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Lomake</th>
				<th>Tila</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="@controllers.dynamicforms.routes.Results.add(batch.id, "tuotekortti")">Tuotekortti</a></td>
				<td>
					@if(productcard){
						<span class="label label-success">Valmis</span>
					} else{
						<span class="label label-important">Kesken</span>
					}
				</td>
			</tr>
			<tr>
				<td><a href="@controllers.dynamicforms.routes.Results.add(batch.id, "puhtaustarkkailu")">Puhtaustarkkailu</a></td>
				<td>
					@if(puritymonitoring){
						<span class="label label-success">Valmis</span>
					} else{
						<span class="label label-important">Kesken</span>
					}
				</td>
			</tr>
			<tr>
				<td><a href="@controllers.dynamicforms.routes.Results.add(batch.id, "pesuohjelma")">Pesuohjelma</a></td>
				<td>
					@if(washprogram){
						<span class="label label-success">Valmis</span>
					} else{
						<span class="label label-important">Kesken</span>
					}
				</td>
			</tr>
		</tbody>
	</table>
}