@(t: models.Batch, FORM: play.data.Form[models.Batch])

@import play.i18n._
@import helper._
@import tags.forms._

@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.f)}

@amount(field: Field) = {
	@defining(t.getIngredientSupply(field("ingredientSupply.id").value.getOrElse(""))) { ingredientSupply =>
		@if(ingredientSupply != null) {
			@inputHidden(field("ingredientSupply.id"))

			@helper.input(
				field("amount"),
				'_label -> ingredientSupply.ingredient,
				'placeholder -> ingredientSupply.amountAvailableToString
			) { (id, name, value, args) =>
				<div class="input-append">
					<input type="text" id="@id" name="@name" value="@value" @toHtmlArgs(args)>
					<span class="add-on">@ingredientSupply.unit</span>
				</div>
			}
		}
	}
}

@tags.forms.form(FORM, routes.BatchStep2.create(t.id)) {
	@helper.inputDate(
		FORM("date"),
		'_label -> Messages.get("label.date"),
		'placeholder -> Messages.get("placeholder.date")
	)

	@repeat(FORM("ingredientSupplies")) { ingredientSupply =>
		@amount(ingredientSupply)
	}
}