@(FORM: play.data.Form[models.dynamicforms.Form], action: play.api.mvc.Call, t: models.dynamicforms.Form)

@import play.i18n._
@import helper._
@import tags.forms._

@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.f)}

@tags.forms.form(FORM, action) {
	@helper.inputText(
		FORM("name"),
		'_label -> Messages.get("label.name")
	)

	@helper.textarea(
		FORM("description"),
		'_label -> Messages.get("label.description")
	)

	<div id="sortable">
		@checkboxes(
			FORM("fieldsets"),
			options = options(models.dynamicforms.Fieldset.options(t)),
			child = "id",
			'_label ->  Messages.get("label.fieldsets"),
			'_class -> "ui-state-default arrow"
		)
	</div>
}

<script src="@routes.Assets.at("javascripts/forms.js")"></script>