@(FORM: play.data.Form[models.dynamicforms.Results], t: models.dynamicforms.Form)

@import play.i18n._
@import helper._

<h3>@t</h3>
<p>@t.description</p>

@repeat(FORM("results")) { result =>
	@FIELDSET(result)
	@FIELD(result)
}

@FIELDSET(field: Field) = {
	@defining(field("field.fieldset.id").value.getOrElse("")) { fieldsetId => 
		@if(!fieldsetId.isEmpty && t.isFieldsetPrinted(fieldsetId)) {
			@defining(t.getFieldset(fieldsetId)) { _fieldset =>
				@if(_fieldset != null) {
					@fieldsets.fieldset(_fieldset)
				}
			}
		}
	}
}

@FIELD(field: Field) = {
	@defining(t.getField(field("field.id").value.getOrElse(""))) { _field =>
		@if(_field != null) {
			@views.html.fields.field(field, _field)
		}
	}
}