@(form: models.dynamicforms.Form)

@import play.i18n._
@import tags.alerts._
@import tags.tables._

@views.html.management(Messages.get("form.show")) {
	@forms.form(form)

	@defining(models.dynamicforms.Results.getEmptyForm) { FORM =>
		@for(fieldset <- form.fieldsets) {
			@fieldsets.preview(fieldset, FORM)
		}
	}

	<p><a class="btn btn-primary" href="@routes.Forms.edit(form.id)">@Messages.get("form.update")</a></p>

	<hr>
	<h3>@Messages.get("product.page")</h3>
	@defining(models.Product.findByForm(form)) { products =>
		@if(products != null && !products.isEmpty){
			@table() {
				<tbody>
					@for(product <- products) {
						@tr() { <a href="@routes.Products.edit(product.id)">@product</a> }
					}
				</tbody>
			}
		} else {
			@warning() {
				@Messages.get("product.page.empty")
			}
		}
	}
}