@(FORM: play.data.Form[models.dynamicforms.Fieldset], action: play.api.mvc.Call)

@import play.i18n._
@import helper._
@import tags.forms._

@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.f)}

@tags.forms.form(FORM, action) {
	@helper.inputText(
		FORM("name"),
		'_label -> Messages.get("label.name")
	)

	@helper.textarea(
		FORM("description"),
		'_label -> Messages.get("label.description")
	)

	<h2>@Messages.get("field.fields")</h2>

	<div id="sortable">
		@repeat(
			FORM("fields"),
			min = 0
		) { field =>
			@views.html.fields.fields(field)
		}
	</div>

	<p>
		 <a class="addField btn">@Messages.get("field.create")</a>
	</p>
}

<div class="hide field_template">
	@views.html.fields.fields(FORM("fields[x]"))
</div>

<script src="@routes.Assets.at("javascripts/fields.js")"></script>