@(FORM: play.data.Form[models.Product], action: play.api.mvc.Call)

@import play.i18n._
@import helper._
@import tags.forms._

@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.f)}

@tags.forms.form(FORM, action) {
	@helper.inputText(
		FORM("no"),
		'_label -> Messages.get("label.productNo"),
		'_class -> "control-group"
	)

	@helper.inputText(
		FORM("name"),
		'_label -> Messages.get("label.name"),
		'_class -> "control-group"
	)

	@helper.textarea(
		FORM("description"),
		'_label -> Messages.get("label.description")
	)

	@checkboxes(
		FORM("ingredients"),
		options = options(models.Ingredient.dao.options),
		'_label ->  Messages.get("label.ingredients")
	)

	@checkboxes(
		FORM("forms"),
		options = options(models.dynamicforms.Form.dao.options),
		'_label ->  Messages.get("label.forms")
	)
}