@(FORM: play.data.Form[models.Product])

@import helper._
@import helper.twitterBootstrap._
@import tags._
@import tags.alerts._
@import tags.forms._

@main(
	if(!FORM("id").valueOr("").equals("")) {
		"Muokkaa tuotetta"
	} else{
		"Uusi tuote"
	}
){
	@tabs() {
		<li><a href=@routes.Products.index">Tuotteet</a></li>
		@if(!FORM("id").valueOr("").equals("")) {
			<li><a href="@routes.Products.create">Uusi</a></li>
		} else {
			<li class="active"><a href="#">Uusi</a></li>
		}
	}
	@if(FORM.hasGlobalErrors) {
		@error() {
			@FORM.globalError.message
		}
	}	
	@helper.form(action = routes.Products.save()){
		@hidden() {
			@FORM("id").value
		}
		@helper.inputText(FORM("name"), '_label -> "nimi", '_class -> "control-group")
		@helper.textarea(FORM("description"), '_label -> "kuvaus")
		@multiselect("ingredients[]", "raaka-aineet", models.Ingredient.options)
		@multiselect("forms[]", "lomakkeet", models.dynamicforms.Form.options)
		@actions() {}
	}
}
