@(FORM: play.data.Form[forms.Product])

@import helper._
@import helper.twitterBootstrap._
@import tags._
@import tags.alerts._
@import tags.forms._
@import tags.navs._

@main(
	if(!FORM("id").valueOr("").equals("")) {
		"Muokkaa tuotetta"
	} else{
		"Uusi tuote"
	}
){
	@tabs() {
		<li><a href="@routes.Products.index">Tuotteet</a></li>
		@if(!FORM("id").valueOr("").equals("")) {
			<li><a href="@routes.Products.create">Uusi</a></li>
		} else {
			<li class="active"><a href="#">Uusi</a></li>
		}
	}
	@if(FORM.hasGlobalErrors) {
		@error() {
			@FORM.globalError.message
		}
	}	
	@helper.form(action = routes.Products.save(), 'class -> "form-horizontal"){
		@hidden() {
			@FORM("id").value
		}
		@helper.inputText(FORM("name"), '_label -> "nimi", '_class -> "control-group")
		@helper.textarea(FORM("description"), '_label -> "kuvaus")
		<fieldset>
			<legend>Raaka-aineet</legend>
			@Html(models.Ingredient.checkboxes(FORM("id").value))
		</fieldset>
		<fieldset>
			<legend>Lomakkeet</legend>
			@Html(models.dynamicforms.Form.checkboxes(FORM("id").value))
		</fieldset>
		@actions()
	}
}
