@(page: models.helpers.Page[Product])

@import tags._
@import tags.alerts._
@import tags.navs._
@import tags.tables._

@main("Tuotteet") {
	@tabs() {
		<li class="active"><a href="#">tuotteet</a></li>
		<li><a href="@routes.Products.create">Uusi</a></li>
	}
	@if(page != null){
		@table() {
			@thead() {
				Tuotenumero
				Nimi
				Kuvaus
			}
			<tbody>
				@for(product <- page.getList) {
					@tr() { @product.id 
						<a href="@routes.Products.update(product.id)">@product</a>
						@product.description }
				}
			</tbody>
		}
		@pagination(page.hasPrevious, routes.Products.page(page.getIndex - 1), page.hasNext, routes.Products.page(page.getIndex + 1))
	} else {
		@warning() {
			Tuotteita ei löytynyt, voit kuitenkin <a href="@routes.Products.create">lisätä</a> uusia.
		}
	}
}