@(page: models.helpers.Page[models.Product])

@import play.i18n._
@import tags._
@import tags.alerts._
@import tags.tables._
@import tags.navs._

@main(Messages.get("product.page")) {
	@navigation()

	@if(!page.isEmpty){
		@table() {
			@thead() {
				@Messages.get("label.productNo")
				@Messages.get("label.name")
				@Messages.get("label.description")
			}
			<tbody>
				@for(product <- page.getList) {
					@tr() { <a href="@routes.Products.edit(product.id)">@product.no</a> 
						@product
						@product.description }
				}
			</tbody>
		}
		@pagination(page, routes.Products.page(page.getPrevious), routes.Products.page(page.getNext))
	} else {
		@warning() {
			@Messages.get("product.page.empty")
		}
	}
}