@(FIELD: Field)

@import play.i18n._
@import helper._
@import tags.forms._

@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.f)}

<fieldset>
	<h3><span class="field_header">@FIELD("name").value.getOrElse("")</span></h3>
	<div>

		@if(!FIELD("id").value.getOrElse("").isEmpty) {
			@inputHidden(
				FIELD("id")
			)
		}

		@inputText(
			FIELD("name"),
			'_label -> Messages.get("label.name"),
			'class -> "field_name"
		)

		@textarea(
			FIELD("help"),
			'_label -> Messages.get("label.help")
		)

		@inputRadioGroupInline(
			FIELD("isRequired"),
			options = Seq("true"->Messages.get("radiobox.true"),"false"->Messages.get("radiobox.false")),
			'_label -> Messages.get("label.required")
		)

		@inputRadioGroupInline(
			FIELD("isSigned"),
			options = Seq("true"->Messages.get("radiobox.true"),"false"->Messages.get("radiobox.false")),
			'_label -> Messages.get("label.isSigned")
		)

		@select(
			FIELD("fieldType"),
			options = options(models.dynamicforms.FieldType.map),
			'_default -> "",
			'_label -> Messages.get("label.fieldType")
		)

		@inputText(
			FIELD("min"),
			'_label -> Messages.get("label.min"),
			'_placeholder -> Messages.get("placeholder.double")
		)

		@inputText(
			FIELD("max"),
			'_label -> Messages.get("label.max"),
			'_placeholder -> Messages.get("placeholder.double")
		)

		@select(
			FIELD("targetValue"),
			options = Seq("true"->Messages.get("radiobox.true"),"false"->Messages.get("radiobox.false")),
			'_default -> "",
			'_label -> Messages.get("label.targetValue")
		)
	</div>
</fieldset>