@main("Omavalvonta") {
	<h2>Ohjeet</h2>
	<h3>Raaka-aineiden vastaanottaminen</h3>
	<div class="flowplayer color-light">
		<video src="@routes.Assets.at("video/ohje1.flv").absoluteURL(request())"></video>
	</div>
	<h3>Erät</h3>
	<div class="flowplayer color-light">
		<video src="@routes.Assets.at("video/ohje2.flv").absoluteURL(request())"></video>
	</div>
	<h3>Tuloksien kirjaaminen</h3>
	<div class="flowplayer color-light">
		<video src="@routes.Assets.at("video/ohje3.flv").absoluteURL(request())"></video>
	</div>
}
