@(title: String)(content: Html)

<!DOCTYPE html>
<html>
	<head>
		<title>@title - Omavalvonta</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/styles.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="@controllers.routes.Application.index()">Omavalvonta</a>
					<div class="nav-collapse">
						<ul class="nav">
						</ul>
					</div>
				</div>
			</div>
	    </div>
	    <div class="container">
			<h1>@title</h1>
			@content
	    </div>
    </body>
</html>
