@(title: String)(content: Html)
@import tags.alerts._

<!DOCTYPE html>
<html>
	<head>
		<title>@title - Omavalvonta</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/styles.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="@routes.Application.index">Omavalvonta</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="@routes.IngredientSupplies.index">Raaka-aineen vastaanotto</a></li>
							<li><a href="@routes.Batches.index">Erät</a></li>
						</ul>
						<ul class="nav pull-right">
							<li><a href="@routes.Application.management">Ylläpito</a></li>
						</ul>
					</div>
				</div>
			</div>
	    </div>
		<div class="container">
	    	@if(flash.get("success")){
				@success(){
					@flash.get("success")
				}
			}
	    	@if(flash.get("info")){
				@info(){
					@flash.get("info")
				}
			}
	    	@if(flash.get("error")){
				@error(){
					@flash.get("error")
				}
			}
	    	@if(flash.get("warning")){
				@warning(){
					@flash.get("warning")
				}
			}
			<h1>@title</h1>
			@content
	    </div>
    </body>
</html>
