@import tags.navs._

@main("Ylläpito") {
	@stacked() {
		<li><a href="@routes.Terms.index">termit</a></li>
		<li><a href="@routes.Ingredients.index">raaka-aineet</a></li>
		<li><a href="@routes.Products.index">tuotteet</a></li>
		<li><a href="@controllers.dynamicforms.routes.Forms.index">lomakkeet</a></li>
	}
	<h2>Ohjeet</h2>
	<h3>Raaka-aineiden ja tuotteiden hallinta</h3>
	<div class="flowplayer color-light">
		<video src="@routes.Assets.at("video/yllapito1.flv").absoluteURL(request())"></video>
	</div>
	<h3>Lomakkeet</h3>
	<div class="flowplayer color-light">
		<video src="@routes.Assets.at("video/yllapito2.flv").absoluteURL(request())"></video>
	</div>
}
