@(title: String, navigation: Html = Html(""), sidebar: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html>
	<head>
		<title>@title - Omavalvonta</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/styles.css")"/>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")"/>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="@routes.Assets.at("javascripts/jquery-1.8.3.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery-ui-1.9.2.custom.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
		<script src="http://releases.flowplayer.org/5.0.0/flowplayer.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://releases.flowplayer.org/5.0.0/skin/minimalist.css" />
	</head>
	<body>
		<div class="navbar navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="@routes.Application.index">Omavalvonta</a>
					@navigation
				</div>
			</div>
	    </div>
		<div class="container-fluid">
			<div class="row-fluid">
				@sidebar
				@content
			</div>
	    </div>
    </body>
</html>
