@(title: String, navigation: Html = Html(""), sidebar: Html = Html(""), brand: String = "")(content: Html)

<!DOCTYPE html>
<html>
	<head>
		<title>@title - Omavalvonta</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.10.4.custom.min.css")"/>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/styles.css")"/>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")"/>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery-ui-1.10.4.custom.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/datepicker.js")"></script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top @{if(brand.isEmpty) "" else "navbar-inverse"}">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="@routes.Application.index()">
						Omavalvonta
						@brand
					</a>
					@navigation
				</div>
			</div>
	    </div>
		<div class="container-fluid">
			<div class="row-fluid">
				@sidebar
				@content
			</div>
	    </div>
    </body>
</html>
