@(FORM: play.data.Form[models.dynamicforms.FormType])

@import helper._
@import helper.twitterBootstrap._
@import tags._
@import tags.alerts._
@import tags.forms._

@main(
	if(!FORM("id").valueOr("").equals("")) {
		"Muokkaa lomaketyyppiä"
	} else{
		"Uusi lomaketyyppi"
	}
){
	@tabs() {
		<li><a href=@controllers.dynamicforms.routes.FormTypes.index">Lomaketyypit</a></li>
		@if(!FORM("id").valueOr("").equals("")) {
			<li><a href="@controllers.dynamicforms.routes.FormTypes.create">Uusi</a></li>
		} else {
			<li class="active"><a href="#">Uusi</a></li>
		}
	}
	@if(FORM.hasGlobalErrors) {
		@error() {
			@FORM.globalError.message
		}
	}
	
	@helper.form(action = controllers.dynamicforms.routes.FormTypes.save()){
		@hidden() {
			@FORM("id").value
		}
		@helper.inputText(FORM("name"), '_label -> "nimi", '_class -> "control-group")
		@actions() {}
	}
}
