@(FORM: play.data.Form[models.FinalProduct], batch: Batch)

@import play.i18n._
@import helper._
@import tags._
@import tags.forms._
@import batches._

@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.f)}

@main(Messages.get("finalproduct.title", batch.toString)) {
	@info(batch)
	@results(batch)
	@ingredients(batch)

	<hr>

	@if(!FORM("id").value.getOrElse("").isEmpty) {
		<tbody>
			<tr>
				<th>@Messages.get("label.user")</th>
				<td>@ack(batch, routes.FinalProducts.ack(batch.id))</td>
			</tr>
		</tbody>
	}

	@tags.forms.form(FORM, routes.FinalProducts.save(batch.id)) {
		<fieldset>
			<legend>@Messages.get("finalproduct.amount")</legend>
	
			@inputText(
				FORM("amount"),
				'_label -> Messages.get("ingredientsupply.amount")
			)
			@select(
				FORM("unit.id"),
				options = options(models.Term.options(models.TermCategory.UNIT)),
				'_default -> "",
				'_label -> Messages.get("enum.UNIT")
			)
		</fieldset>
		<fieldset>
			<legend>@Messages.get("label.finalProduct")</legend>
	
			@inputText(
				FORM("date"),
				'_label -> Messages.get("label.date"),
				'class -> "datepicker",
				'placeholder -> Messages.get("placeholder.date")
			)
			@select(
				FORM("destiny.id"),
				options = options(models.Term.options(models.TermCategory.DESTINY)),
				'_default -> "",
				'_label -> Messages.get("label.destiny")
			)
			@textarea(
				FORM("comment"),
				'_label -> Messages.get("label.comment")
			)
		</fieldset>
	}
}