@(finalProduct: FinalProduct)

@import tags._
@import tags.alerts._
@import tags.tables._
@import tags.navs._

@main("Erän " + finalProduct.batch.toString + " myyntihyväksyntä") {
	@tabs() {
		<li class="active"><a href="@routes.FinalProducts.read(finalProduct.batch.id)">Myyntihyväksyntä</a></li>
		<li><a href="@routes.FinalProducts.edit(finalProduct.batch.id)">Muokkaa</a></li>
	}
	@table() {
		@thead() {
			Erä
			Tuote
			Ajankohta
			Paino
			Tila
			Huomautuksia
		}
		<tbody>
			@tr() { <a href="@routes.Batches.read(finalProduct.batch.id)">@finalProduct.batch</a>
				@finalProduct.batch.product
				@finalProduct.date
				@finalProduct.amount @finalProduct.unit
				@finalProduct.destiny
				@finalProduct.comment }
		</tbody>
	}
	@summary(models.dynamicforms.Result.findImportantByBatch(finalProduct.batch))
}