@(results: List[models.dynamicforms.Result])

@import tags._
@import tags.alerts._
@import tags.tables._
@import tags.navs._

<h3>Yhteenveto</h3>

@if(results != null) {
	@table() {
		@thead() {
			Määritys
			Määritystiheys
			Vaatimus
			Tulos
			Kuittaus
			Huomioita
		}
		<tbody>
			@for(result <- results) {
				@if(result.field.fieldTypeEnum == models.dynamicforms.FieldType.LEGEND) {
					<tr><th colspan="6">@result.field.name</th></tr>
				} else {
					@tr() { @result.field.name
						@result.field.when
						@result.field.help
						@if(result.isDone) { @result } @if(!result.isDone) { <span class="label label-important"> @result </span> }
						@if(result.field.isSigned && result.user == null) { <span class="label label-important"> ? </span> } else { @result.user }
						@result.comment }
				}
			}
		</tbody>
	}
} else {
	@error() {
		Erällä ei ole tärkeitä tuloksia!
	}
}